src/main/resources/employees.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://com.example/webservice/generatedwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.example/webservice/generatedwsdl" targetNamespace="http://com.example/webservice/generatedwsdl">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://com.example/webservice/generatedwsdl">

    <xs:element name="getEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="employee">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="designation" type="xs:string"/>
            <xs:element name="role" type="tns:role"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="role">
        <xs:restriction base="xs:string">
            <xs:enumeration value="developer"/>
            <xs:enumeration value="tester"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getEmployeeRequest">
    <wsdl:part element="tns:getEmployeeRequest" name="getEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployeeResponse">
    <wsdl:part element="tns:getEmployeeResponse" name="getEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeesPort">
    <wsdl:operation name="getEmployee">
      <wsdl:input message="tns:getEmployeeRequest" name="getEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:getEmployeeResponse" name="getEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeesPortSoap11" type="tns:EmployeesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="getEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesPortService">
    <wsdl:port binding="tns:EmployeesPortSoap11" name="EmployeesPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>